.bg-main {
  height: 100vh;
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
}

.dsa-container {
  // margin-left: auto;
  // margin-right: auto;
  // align-items: center;
  // justify-content: center;
  // align-self: center;
  .card {
    min-height: 11rem;
    min-width: 31rem !important;
  }
}

.java-container {
  .card {
    min-height: 6rem;
    min-width: 48rem !important;
  }
}
